<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>Feetter: {{data['username']}}</title>
  </head>
    <body>
    <header class="container">
        {% if data['error'] %}
          <h6 style="color:green;"> > Error: {{data['error']}}</h6>
        {% endif %}
        <p>
            <span>🔀 Your new random username:</span> <kbd>{{data['username']}}</kbd>
            <br>
            <small>Use your own if you already have one.</small>
        </p>

        <form action="/user" method="get">
          <label for="email">👤 Login/Register</label>
          <input type="text" id="username" name="username" value={{data['username']}} required>
          <small>Save this username to recover your data anywhere</small>

          <!-- Button -->
          <button class="outline" type="submit">Start feeding</button>
        </form>
        <h6 style="margin: 1px;"> Total users in this instance: {{data['usercount']}} </h6>
    </header>

    <div class="container">
      <h2 style="margin: 1px;">What is Feetter?</h2>
      <p>Feetter allows you to create and organize <b>Twitter</b> feeds in the <b>Nitter</b> alternative frontend. Choose a username formed by two words separated by a <code>-</code> or use the random suggested username.</p>
      <p>Save your username and use it to get and edit your feeds anywhere.</p>
      <h3 style="margin: 1px;">Features</h3>
      <ul>
        <li>No JavaScript.</li>
        <li>No ads.</li>
        <li>No registrations.</li>
        <li>No tracking.</li>
        <li>Lightweight (<900kB).</li>
        <li>Use anywhere. Sync your feeds.</li>
        <li>Edit your feeds.</li>
        <li>Save tweets via nitter URL.</li>
        <li>Export your data in a JSON file.</li>
        <li><a href="https://codeberg.org/pluja/Feetter">Open Source</a></li>
      </ul>
    </div>
  </body>
</html>
