<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <title>Feetter</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
  </head>
  <body>
    <main class="container">
        {% if result == 0 %}
          <h6 color='red' style='color:red;'> > Error </h6>
        {%endif%}
        {% if result %}
          <h6 color='green' style='color:green;'> > {{data['result']}} </h6>
        {% endif %}
        <hgroup>
          <h2> <a href="/user/{{data['username']}}"><kbd>{{data['username']}}</kbd></a> Feeds</h2>
          <h6 style="font-size: .7em;">*Save your profile with <a href="/user/{{data['username']}}">this link</a></h6>
          <!--<h5> <a href="/saved/{{data['username']}}">💾 Saved</a></h5>-->
          <h5> <a href="/export/{{data['username']}}">⬇️ Export data</a></h5>
        </hgroup>

        <details>
          <summary>Create new feed</summary>
          <form action="/newfeed/{{data['username']}}" method="post" id="json">
              <div class="grid">
                <label for="usernames">
                  Usernames
                  <input type="text" id="usernames" name="usernames" placeholder="@monero, signalapp" required>
                </label>

                <label for="feedname">
                  Feed Name
                  <input type="text" id="feedname" name="feedname" placeholder="Privacy Feed" required>
                </label>
              </div>
              <button type="submit" class="contrast">Create</button>
          </form>
        </details>

        {% for feed in data['json']['feeds'] %}
        <article style="padding: 1em !important; margin: 1em !important;">
            <h3 style="margin: 1px;">{{feed["name"]}}</h3>
            <p style="overflow: hidden;">
              {{feed['users']}}
            </p>
            <a href="https://{{data['instances']|random}}/{{feed['users']}}" role='button' class='outline' target="_blank">Open ↗️</a>
            <a href="/edit/{{data['username']}}/{{feed['name']}}" role='button' style="float: right" class='contrast outline'>✍️ Edit</a>
        </article>
        {% endfor %}
    </main>
    {{data['footer'] | safe}}
  </body>
 </html>
